<nav class="navbar navbar-dark bg-dark shadow-sm">
    <li class="nav-item">
        <a class="nav-brand" href="/"> Listagem de Clientes </a>
    </li>
    <li class="nav-item">
        <a class="nav-brand" href="/create"> Criar Novo Cliente </a>
    </li>

    <li class="nav-item">
        <a class="nav-brand" href="/buscar/cliente"> Buscar Cliente </a>
    </li>

</nav>